#btn {
  padding: 4px;
  margin-left: 15px;
  margin-bottom: 10px;
}

a:hover {
  cursor: pointer;
  color: rgb(0, 0, 211);
}

.card {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

label {
  margin-bottom: auto;
}