

a:hover {
  cursor: pointer;
  color: rgb(0, 0, 211);
}

.card {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

label {
  margin-bottom: auto;
}  
input {
  border-radius: 25px;
  height: 40px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 10px;
}
input:hover {
  border: 1px solid blue;
  border-radius: 25px;
}