

a:hover {
  cursor: pointer;
  color: rgb(0, 0, 211);
}

.card {
  width: 85%;
  margin: 0 auto;
}

label {
  margin-bottom: auto;
}  
input {
  border-radius: 25px;
  height: 40px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 10px;
}
input:hover {
  border: 1px solid blue;
  border-radius: 25px;
}
img {
  margin-bottom: 5px;
}

.covid {
  background-color: #a8ccE125;
}
#covid-head {
  font-weight: 700;
}

.card-header {
  font-weight: 700;
  background-color: #a8ccE125;
}