main {
  text-align: center;
}

#btn {
  padding: 4px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #80B3DB;
  border: 1px solid #80B3DB;
}

#btn:hover {
  background-color: #6089A9;
  border: 1px solid #6089A9;
}