main {
  text-align: center;
}

#btn {
  padding: 4px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #80B3DB;
  border: 1px solid #80B3DB;
}

#btn:hover {
  background-color: #6089A9;
  border: 1px solid #6089A9;
}


h1 {
  font-family: 'Roboto Slab', serif;
  color: #1e6CAA;
}

body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: #e7d9c850;
  position: absolute;
  bottom: 0;
  height: 60px;
  margin: 0 auto;
}

.review {
  background-color: #e7D9C850;
}